@import '../../styles/index';
.app-panel {
  padding: $app-space-lg;
  @include boxShadow();
  display: grid;
  grid-template-rows: 30px 1fr;
  overflow: hidden;
  background: #ffffff;
  &__content {
      overflow: scroll;
  }
}
